@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Poppins','sans-serif';
    box-sizing:border-box;
}
body{
    background: #000;
    color:#fff
}
.header{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)), url('./assets/banner.jpg');
    background-size: cover;
    object-fit: cover;
    position: relative;
}
/* .header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
} */
nav{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 150px;
}
.image{
    width:160px;
    height:60px;
    padding: 5x 20px;
}
.image img {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}
.right{
    display: flex;
    gap: 20px;
}

.dropdown .select {
    background: transparent;
    backdrop-filter: blur(3px);
    color: #fff;
    padding: 3px 20px;
    border: 2px solid #636063;
    font-size: 1rem;
    display: block;
    border-radius: 4px;
}
.select option {
    color: #000;
}
.right a {
    text-decoration: none;
    color: #fff;
    background: rgba(224, 9, 9, 0.855);
    height: 35px;
    padding: 8px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    font-size: 1.1rem;
}
.hero {
    width: 100%;
    max-width: 670px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.hero h1 {
    font-size: 3.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    width: 83%;
    line-height: 1.3;
}
.hero>:nth-child(2) {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.hero>:nth-child(3){
    color: #fff;
    font-size: 1.1rem;
}
.search {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 30px 0px;
    width: 100%;
    flex: 2;
}
.search input {
    padding: 8px 10px;
    background: transparent;
    border: 1px solid #b3b3ad;
    outline: none;
    width: 60%;
    height: 60px;
    font-size: 1.05rem;
    backdrop-filter: blur(3px);
    color: #fff;
}
.search a {
    text-decoration: none;
    padding: 8px 10px;
    background: rgba(224, 9, 9, 0.855);
    color: #fff;
    border-radius: 0.2rem;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: 1.5rem;
}
.search a>:nth-child(2) {
    margin-left: 10px;
} 
/* .feature{
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: -1; 
margin-top: -.25rem;
border-radius: inherit;
background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), 
rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1)
 84%);
} */
.features__container {
  position: relative;
  margin-top: 50px;
}

.default-ltr-cache-1f97ztc {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  height: 250px;
  top: -40px;
  margin: auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border: solid .25rem transparent;
  border-top-left-radius: 280% 100%;
  border-top-right-radius: 280% 100%;
  border-bottom: none;
  background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
  background-clip: padding-box;
  border-top: 4px solid rgba(224, 9, 9, 0.855);
  z-index: 0;
}
.hero-top {
  position: relative;
}

.feature {
    border-top: 8px solid #222;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
.feature__details {
    text-align: center;
    
  }
  
  .feature__title {
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
  }
  
  .feature__sub__title {
    font-size: 15px;
    font-weight: 400;
  }
  
  .feature__image__container {
    width: 100%;
    position: relative;
  }
  .feature__image {
    width: 100%;
  }
  
  .feature__backgroud__video__container {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 13%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    z-index: -2;
  }
  
  .feature__backgroud__video {
    width: 100%;
  }
  .middle {
    margin-top: 35%;
  }
  .feature__2__poster__container {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 16em;
    display: flex;
    align-items: center;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    height: 60px;
    padding: 0.25rem 0.6rem;
    gap: 15px;
  }
  
  .poster__container {
    width: 20%;
  }
  
  .poster {
    width: 100%;
    height: 100%;
  }
  .poster__details {
    width: 60%;
  }
  .poster__details > h4 {
    font-size: 13px;
    font-weight: 500;
  }
  .poster__details > h6 {
    font-size: 12px;
    font-weight: 400;
    color: rgb(63, 63, 246);
  }
  
  .download__gif__container {
    width: 20%;
    height: 100%;
  }
  .gif {
    width: 100%;
    height: 100%;
  }
  
  .feature__3__backgroud__video__container {
    max-width: 63%;
    max-height: 47%;
    z-index: -2;
    top: 9%;
    left: 19%;
  }
  
  .FAQ__accordian {
    width: 100%;
  }
  .FAQ__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 18px;
    background-color: #303030;
    border: 1px solid #303030;
    color: white;
  }
  
  .FAQ__visible {
    background-color: #303030;
    border-top: 1px solid black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  .FAQ__visible > p {
    margin: 1rem;
  }
  .FAQ__list__container {
    border-top: 8px solid #222;
    padding: 2rem 0;
  }
  .FAQ__heading {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin: 1rem 3rem;
  }
  
  .FAQ__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .FAQ__get__started__email {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .FAQ__get__started__email > h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 2rem 0;
  }
  .email__form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    gap: 20px;
  }
  .primary__button {
    width: 20%;
    background: rgba(224, 9, 9, 0.855);
    border: none;
    color: #fff;
  }
  .form__container input {
    padding: 10px 8px;
    width: 80%;
    height: 50px;
    outline: none;
  }
  
  footer {
    border-top: 8px solid #333;
    padding: 2rem 1rem;
    color: #757575;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer__row__2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .footer__row__1 > h4 {
    font-size: 15px;
    font-weight: 500;
  }
  
  .footer__row__3 > .dropdown__container {
    width: fit-content;
    /* border: 1px solid #757575; */
    color: #fff;
  }
  .dropdown__container select {
    background: transparent;
  }
  .dropdown__container select option {
    color: #fff;
  }

  .footer__row__3 > .dropdown__container > .language__drop__down {
    color: #757575;
  }
  
  @media (min-width: 768px) {
    .hero__bg__image__container {
      height: 100vh;
    }
  
    .hero__bg__overlay {
      height: 100vh;
    }
    .hero__card {
      top: 40%;
      left: 30%;
      transform: translate(-20%, -20%);
    }
    .hero__title {
      font-size: 3rem;
    }
    .hero__subtitle,
    .hero__description {
      font-size: 1.3rem;
    }
  
    .feature {
      padding: 4rem;
    }
  
    .feature__title {
      font-size: 35px;
    }
  
    .feature__sub__title {
      font-size: 20px;
    }
    .feature__2__poster__container {
      max-width: 26em;
      height: 85px;
    }
    .poster__container {
      width: 15%;
    }
    .download__gif__container {
      width: 3rem;
      height: 3rem;
    }
  
    .poster__details > h4 {
      font-size: 18px;
    }
    .poster__details > h6 {
      font-size: 14px;
    }
    .FAQ__title {
      font-size: 20px;
    }
    .FAQ__heading {
      font-size: 38px;
      font-weight: 500;
      letter-spacing: 1px;
    }
    .FAQ__list {
      padding: 1rem 5rem;
    }
    .FAQ__get__started__email {
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: translateX(15%);
    }
  }
  
  @media (min-width: 1024px) {
    .navbar {
      padding: 2% 5%;
    }
  
    .navbar__brand {
      width: 150px;
    }
  
    .signin__button {
      padding: 10px 20px;
      font-size: 18px;
    }
    .dropdown__container {
      padding: 10px 5px;
    }
  
    .navbar__nav__items {
      gap: 30px;
    }
  
    .hero__card {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .form__container {
      width: 50%;
    }
    .email__form__container {
      flex-direction: row;
      align-items: center;
      gap: 1px;
    }
    .primary__button {
      height: 50px;
    }
  
    .feature {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
  
    .feature__details {
      text-align: left;
      padding: 0 6rem;
    }
  
    .feature__title {
      font-size: 50px;
    }
  
    .feature__sub__title {
      font-size: 25px;
    }
  
    .feature__image__container {
      max-width: 500px;
    }
  
    .feature:nth-child(even) {
      flex-direction: row-reverse;
    }
  
    .feature__2__poster__container {
      max-width: 20em;
      height: 100px;
      padding: 1rem;
    }
    .poster__container {
      width: 20%;
    }
    .FAQ__list {
      padding: 1rem 25rem;
    }
    .FAQ__get__started__email {
      transform: translateX(16%);
    }
    footer {
      padding: 2rem 20rem;
      justify-content: flex-start;
      text-align: left;
      align-items: flex-start;
    }
  
    .footer__row__2 {
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap;
    }
  
    .footer__row__1,
    .footer__row__3,
    .footer__row__4 {
      align-self: flex-start;
    }
  }
  
  @media (min-width: 1254px) {
  }
  